<h1>
  <%= simple_title(@do || :edit) %>
</h1>

<%= render 'form', fixture: @fixture %>

<hr/>
<%= render 'deploy_to',
  fixture: @fixture,
  store_dict: @stores_all.to_hash(:id, :name),
  category_dict: @categories_all.to_hash(:code, :name),
  model_stores: @model_stores
%>

<hr/>
<%#= link_to 'Show', @fixture %>
<%#= link_to 'Back', fixtures_path %>
