<h1>
  <%= simple_title(:index) %>
</h1>
<hr/>

<div id="fixtures-list">
  <%= render 'list', fixtures: @fixtures %>
</div>

<br>

<div id="dataTable-filter">
  <%= link_to simple_title(:new), new_fixture_path %>
</div>

