<h1>
  <%= simple_title(:index_store) %>
</h1>
<hr/>

<div id="fixtures-list">
  <%= render 'list_sf',
    store_fixtures: @store_fixtures,
    fixtures_map: @fixtures_map,
    categories_map: @categories_map %>
</div>
