<div class="single-page-form">
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="form-header">
      <h1>登录</h1>
    </div>
    <div class="form-content">
      <%= f.input :username, :required => false, :autofocus => true %>
      <%= f.input :password, label: '密码', :required => false %>
      <div class="actions">
        <%= f.button :submit, "Sign in", class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
