<h1>数据导入: <%= t("activerecord.models.#{@import_sheet._target}") %> </h1>

<div>
<%= render 'form', import_sheet: @import_sheet %>
</div>

<% if @t == 'sale' or @t == 'product' %>
  <%= link_to '查看导入历史', import_sheets_path(_t: @t) %>
<% end %>
