<p id="notice">file:
  <span id="upload-filename"><%= @import_sheet.filename %></span>, comment:
  <span id="upload-comment"><%= @import_sheet.comment %></span>
</p>
<%= render 'sheet', :spread_sheet => @import_sheet.sheets %>

