// Place all the styles related to the brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form#new_brand {
  div.brands-new-name {
    margin-top: 0.3em;

    label {
      display: block;
    }
  }
}

div#brands-list {
  width: 560px;

  table#brands-table {
    width: 400px;
    float: left;
  }
}

