/* css from bootstrap */

$sidebar_width: 190px;

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
  height: 100%;
  overflow: hidden;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a {
  color: #0088cc;
}
a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* end */

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
}

@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

.clearfix {
  @include clearfix;
}

.navbar {
  @include clearfix();
  background-color: #c52f24;
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  a {
    display: block;
    padding: 7px 15px;
    color: gray;
    text-decoration: none;
    line-height: 26px;
  }
  a.brand {
    float: left;
    padding-left: 0;
    font-size: 18px;
    line-height: 20px;
  }
  .navbar-inner {
    display: inline-block;
    float: right;
    // margin-left: -$sidebar_width;
  }
  .navbar-title {
    display: inline-block;
    margin: 8px 0 3px $sidebar_width;
    padding-left: 10px;
  }
}

.pull-right {
  float: right !important;
}

ul.nav {
  @include clearfix();
  @include list-reset();
  li {
    float: left;
  }
}

.dropdown {
  position: relative;
  width: 100px;
  &:hover {
    .dropdown-menu {
      display: block !important;
      background-color: #FFF;
      border: 1px solid #aaa;
      z-index: 2;
    }
  }
  a.dropdown-toggle {
    float: none;
    color: white;
    &:visited {
      color: white;
    }
  }
  .dropdown-menu {
    @include list-reset();
    display: none;
    position: absolute;
    width: 100px;
    li {
      width: 100px;
    }
  }
}

.container {
  width: 1280px;
  margin: 0 auto;
}
.row {
  @include clearfix();
}

.sidebar {
  // background-color: rgb(238, 238, 238);
  background-image: url("/assets/bg.png");
  width: 160px;
  box-sizing: border-box;
  overflow: auto;
  height: 100%;
  border-right: 1px solid gray;
  z-index: 3;
  nav.sidebar-nav {
    a {
      text-decoration: none;
    }
    // background-color: #f2d094;
  }
}
.wrapper {
  position: absolute;
  left: 0;
  .main {
    > h1 {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    overflow: auto;
    margin-top: 41px;
  }
  width: calc(100% - 210px);
  height: 100%;
  margin: 0;
  padding: 0;
  margin-left: 210px;
  min-width: 1070px;
  overflow: auto;
  position: absolute;
}

.single {
  width: 800px;
  margin: 70px auto;
}

.navbar.single {
  display: block;
  margin: 0px;
  //height: 0px;
  width: 100%;
}

nav[role="navigation"] {
  @include clearfix;
  a, a:visited {
    background-color: transparent;
  }
  > ul > li {
    width: 100%;
    box-sizing: border-box;
  }
  ul li a {
    display: block;
    padding: 5px 25px;
    font-size: 14px;
    line-height: 1;
    color: #333333;
    &:hover {
      background-color: #000000;
      color: #cdcdcd;
      text-decoration: none;
    }
  }
  li.nav-header {
    padding: 5px 10px;
    // background-color: #eee;
    font-weight: bold;
    font-size: 1.1em;
    margin: 5px 0 0 0;
  }
}

@mixin label {
  min-width: 150px;
  display: inline-block;
  margin-right: 10px;
  text-align: right;
}

/* basic form style */
form {
  div.input {
    margin: 2px 0;
    line-height: 1.5em;
    color: #333;
    min-height: 30px;
    input {
      line-height: 1.6em;
      padding: 0 5px;
      color: #333;
    }
    input[type=text], input[type=password], input[type=number], input[type=email], input[type=tel] {
      width: 200px;
    }
    textarea {
      width: 400px;
      height: 10em;
    }
    span.hint {
      margin-left: 10px;
      color: #999;
    }
    &.hidden {
      height: 0px;
      min-height: initial;
    }
  }

  label {
    @include label;
  }
  label.text {
    vertical-align: top;
  }
  div.actions, div.form-actions {
    padding-left: 0 !important;
    margin-top: 0.8em;
    margin-left: 160px;
    input.button {
      margin-left: 0 !important;
      padding: 5px 8px;
    }
  }
}

[disabled] {
  color: #999 !important;
}

.entity {
  label {
    @include label;
  }
}

.dataTable {
  a {
    text-decoration: underline;
  }
}

div.field_with_errors {
  label[for] {
    color: black;
  }
  background-color: pink;
}

div.input.file {
  input.file {
    padding-left: 0;
  }
}

div.import-info {
  label {
    @include label;
    min-width: 80px;
    font-weight: bold;
  }
}

.dataTables_info {
  margin-top: 7px;
}

// grid system
.row {
  margin-left: -20px;
  *zoom: 1;
  :before, :after {
    display: table;
    line-height: 0;
    content: "";
  }
  :after {
    clear: both;
  }
}
[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}

form {
  .row {
    margin: 0;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 10px;
  }
}

.span12 {
  width: 940px;
}
.span11 {
  width: 860px;
}
.span10 {
  width: 780px;
}
.span9 {
  width: 700px;
}
.span8 {
  width: 620px;
}
.span7 {
  width: 540px;
}
.span6 {
  width: 460px;
}
.span5 {
  width: 380px;
}
.span4 {
  width: 300px;
}
.span3 {
  width: 220px;
}
.span2 {
  width: 140px;
}
.span1 {
  width: 60px;
}
.span10p {
  width: 10px;
}
.span20p {
  width: 20px;
}
.span30p {
  width: 30px;
}
.span40p {
  width: 40px;
}
.span50p {
  width: 50px;
}
.span60p {
  width: 60px;
}
.span70p {
  width: 70px;
}
.span80p {
  width: 80px;
}
.span90p {
  width: 80px;
}


body {
  padding: 0;
  margin: 0;
  font-size: 13px;
  color: #333;
}

h1 {
  margin: 0;
  font-size: 1.8em;
  line-height: 1.1em;
}

.nav {
  height: 40px;
  // background-color: #eee;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    li {
      margin: 5px 10px;
      float: left;
      a {
        line-height: 30px;
      }
    }
  }
  margin-left: $sidebar_width;
}

.sidebar {
  width: $sidebar_width;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

div.alert {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid silver;
  border-radius: 3px;
  max-width: 860px;
  font-size: 11px;
  button.close {
    border: 0;
    margin: -0.5em -0.6em 0 0;
    padding-top: 0;
    background: transparent;
    float: right;
    cursor: pointer;
  }
  &.alert-success {
    background-color: #dff0d8;
  }
  &.alert-error {
    background-color: #f2dede;
  }
}

