/* css from bootstrap */
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a {
  color: #0088cc;
}
a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* end */

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
}

@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

.navbar-fixed-top {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #FFF;
  z-index: 1030;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
}


.navbar {
  a {
    display: block;
    padding: 7px 15px;
    color: gray;
    text-decoration: none;
  }
  a.brand {
    float: left;
    padding-left: 0;
    font-size: 18px;
    line-height: 20px;
  }
  .navbar-inner {
    position: relative;
  }
}

.pull-right {
  float: right !important;
}

ul.nav {
  @include clearfix();
  @include list-reset();
  li {
    float: left;
  }
}

.dropdown {
  position: relative;
  width: 100px;
  &:hover {
    .dropdown-menu {
      display: block !important;
      background-color: #FFF;
      border: 1px solid #aaa;
    }
  }
  a.dropdown-toggle {
    float: none;
  }
  .dropdown-menu {
    @include list-reset();
    display: none;
    position: absolute;
    width: 100px;
    li {
      width: 100px;
    }
  }
}

.container {
  width: 1280px;
  margin: 0 auto;
}
.row {
  @include clearfix();
}

.sidebar {
  width: 160px;
  float: left;
  nav.sidebar-nav {
    a {
      text-decoration: none;
    }
  }
}

.main {
  width: 1100px;
  margin-left: 20px;
  float: left;
  > h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.single {
  width: 800px;
  margin: 0 auto;
}

nav[role="navigation"] {
  a, a:visited {
    background-color: transparent;
    color: inherit;
  }
  a:hover {
    text-decoration: underline;
    color: inherit;
  }
  > ul > li {
    width: 90%;
    padding: 5px;
  }
  ul li a {
    display: block;
    padding: 0px 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
  }
  li.nav-header {
    padding: 5px;
    background-color: #eee;
    font-weight: bold;
    font-size: 1.1em;
    margin: 5px 0;
  }
}

@mixin label {
  min-width: 150px;
  display: inline-block;
}

/* basic form style */
form {
  div.input {
    margin: 5px 0;
    line-height: 1.6em;
    color: #333;
    input {
      line-height: 1.6em;
      padding: 0 5px;
      color: #333;
    }
    input[type=text], input[type=password], input[type=number], input[type=email], input[type=tel] {
      width: 200px;
    }
    textarea {
      width: 400px;
      height: 10em;
    }
  }
  label {
    @include label;
  }

  div.actions {
    padding-left: 0 !important;
    margin-top: 0.8em;
    input.button {
      margin-left: 0 !important;
      padding: 5px 8px;
    }
  }
}

[disabled] {
  color: #999 !important;
}

.entity {
  label {
    @include label;
  }
}

.dataTable {
  a {
    text-decoration: underline;
  }
}

div.field_with_errors {
  label[for] {
    color: black;
  }
  background-color: pink;
}

div.input.file {
  input.file {
    padding-left: 0;
  }
}

div.import-info {
  label {
    @include label;
    min-width: 80px;
    font-weight: bold;
  }
}

.dataTables_info {
  margin-top: 7px;
}
