// Place all the styles related to the plan_sets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#model-store-info {
  visibility: hidden;
  margin-left: 160px;
  border: 1px;
}

form.edit_plan_set {
  div.inputs {
    width: 600px;
    div.input textarea {
      width: 300px;
      max-width: 430px;
    }
  }
  fieldset {
    min-width: 40px;
    max-width: 800px;
    width: 140px;
  }
  input#plan_set_category_name+span.hint {
    display: none;
  }
}

// common styles

form {
  div.input.hidden {
    display: none;
    min-height: 0;
    height: 0;
  }
}

div.check_boxes, div.radio_buttons {
  span.checkbox, span.radio {
    display: inline-block;
    margin-right: initial;
  }
}

li.radio, li.checkbox {
  margin-left: 0.6em;
}

label.boolean, label.collection_check_boxes, label.collection_radio_buttons, label.collection_check_box, label.collection_radio_button {
  text-align: left;
  display: inline-block;
  min-width: 1em;
}

div.input.boolean.compact {
  min-height: 1em;
}

div.input.bi_columns {
  width: 620px;
  min-height: 3em;
  max-height: 10em;
  overflow-y: scroll;
  li.checked {
    list-style-type: none;
    display: inline-block;
    width: 300px;
  }
  li.checked:before {
    content: "✓  ";
    padding-left: 2px;
  }

  span.checkbox, span.radio {
    width: 300px;
    vertical-align: top;
    input.check_boxes, input.radio_buttons {
      vertical-align: top;
    }
    label.collection_check_boxes, label.collection_radio_buttons {
      max-width: 270px;
    }
  }
}
