// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#product-tabs {
  .ui-widget-header {
    height:13px;
    ul {
      height:11px;
    }
  }

  .ui-tabs-nav {
    .del {
      clear: left;
      padding: 0 .2em .2em .2em;
    }
    li {
      height: 11px;
      font-size: 10px;
      a {
        position: relative;
        top: -6px;
      }
      .del {
        top: auto;
        bottom: 0;
        margin: 0 .2em 1px 0;
        border-bottom: auto;
        border-top: 0;
      }
    }
    li.no-ui-tabs-active {
      margin-top: -1px;
      padding-top: 1px;
    }
  }
}

div#mapping {
  overflow: hidden;

  div.mapping-src {
    display: inline-block;
    float: left;
    overflow: auto;
    width: 10em;
    height: 20em;
    border: 1px solid black;

    td.active {
      background-color: blue;
    }
  }

  div.mapping-dest {
    display: inline-block;
    float: left;
    overflow: auto;
    height: 20em;
    width: 8.5em;
    margin-left: 2em;
    border: 1px solid black;

    ul.mapping-to-fields {
      list-style: none;
      margin: 0.2em 2px;
      line-height: 1.4em;
      padding-left: 0;

      li {
        padding-left: 1em;
        text-indent: -1em;
        border: 1px solid white;
      }

      li.checked {
        background-color: #cdcdcd;
        border: 1px solid #cdcdcd;
      }
      li.active {
        border: 1px dashed #666666;
      }

      li:before {
        content: "➜";
        padding-left: 3px;
        padding-right: 2px;
      }

      li.checked:before {
        content: "✓";
        padding-left: 3px;
        padding-right: 2px;
      }
    }
  }
}


form {
  clear: both;
  padding: 0;
  font-size: 10pt;

  .inputs {
    width: 100%;
    padding: 0.2em;
    font-size: 10pt;
  }
  .actions {
    width: 100%;
    padding: 0.2em;
    font-size: 10pt;
  }
}
