// Place all the styles related to the stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#store {
  div#stores-list {
    sup {
      color: blue;
    }
  }

  td>input.category {
    width: 10em;
  }
  td>input.code {
    width: 10em;
  }
  td>select.fixture {
    width: 10em;
  }
  td>input.memo {
    width: 10em;
  }
  td>input.parts {
    width: 4em;
    display: inline-block;
  }
}
