<table id="categorys-table" data-form="#categorys-form" data-sinfoempty="请重新选择品类或重新搜索"
  class="dataTable grid-control no-wrap resizable inplace_edit" cellspacing=0>
  <thead>
    <tr>
      <%= data_th_list(:category,
        :code,
        :name,
        :parent_id,
        [ :memo, sort: false ]) %>
    </tr>
  </thead>

  <tbody>
    <% categorys.each do |category| %>
      <%= render 'item', category: category %>
    <% end %>
  </tbody>
</table>
