<table id="categories-table"
  data-sinfo="共<%= num_main_ctg %>个大类，<%= num_sub_ctg %>个中类，_TOTAL_个小类"
  data-sinfoempty="请重新选择品类或重新搜索"
  class="dataTable grid-control no-wrap resizable" cellspacing=0>
  <thead>
    <tr>
      <%= data_th_list :category,
        [:name_0, sort: false],
        [:codes, sort: false],
        [:color, sort: false, search: false],
        [:name_1, sort: false],
        [:codes, sort: false],
        [:color, sort: false, search: false],
        [:name_2, sort: false],
        [:codes, sort: false],
        [:color, sort: false, search: false]
      %>
    </tr>
  </thead>

  <tbody>
    <% hier3 = to_hier3_list(categories) %>
    <% hier3.each do |row| %>
      <tr>
        <%= data_td_list row,
          row.name[0],
          row.code[0],
          color_tag(row.color[0]),
          row.name[1],
          row.code[1],
          color_tag(row.color[1]),
          row.name[2],
          row.code[2],
          color_tag(row.color[2])
        %>
      </tr>
    <% end %>
  </tbody>
</table>
