<table id="products-table" data-form="#products-form" data-sinfoempty="请重新选择品类或重新搜索" class="dataTable grid-control no-wrap resizable inplace_edit" cellspacing=0>
  <thead>
    <tr>
      <%= data_th_list(:product,
        [:select_all, "products[]"],
        [:status, input: false, sort: false],
        :code,
        :brand_id,
        :name,
        [:color, sort: false, search: false],
        :height, :width, :depth, :weight, :price_zone,
        :size_name, :case_pack_name, :barcode, :supplier_id, :mfr_id) %>
    </tr>
  </thead>
  <tbody>
    <% products.each do |product| %>
      <%= render '/products/item', product: product,
        brands_hash: brands_all.to_hash(:id, :name),
        suppliers_hash: suppliers_all.to_hash(:id, :name),
        mfrs_hash: mfrs_all.to_hash(:id, :name) %>
    <% end %>
  </tbody>
</table>
