<h1>更新商品信息</h1>

<%= render 'form', categories_all: categories_all,
            brands_all: brands_all,
            suppliers_all: suppliers_all,
            mfrs_all: mfrs_all %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
