<div id="side">
  <div class="accordion">
    <h3>Step 1: Import file</h3>
    <div id="import-file">
      <%= render "upload", new_import: @import_sheet %>
    </div>
    <h3>Step 2: Choose sheet</h3>
    <div id="choose-sheets">
    <% if @sheets %>
      <%= render "choose_sheet", imports: @sheets, categories: @categories %>
    <% end %>
    </div>
    <h3>Step 3: mapping fields</h3>
    <div id="set-mapping">
      <p> Step 3: Set field mapping...</p>
      blah,blah
    </div>
  </div>
</div>

<div id="main">
  <div id="preview">
  </div>

<div id="product-tabs">
  <ul>
    <li><a href="#tab-import">Import</a></li>
    <li><a href="#tab-list">List</a></li>
    <li><a href="#tab-edit">Edit</a></li>
  </ul>
  <div id="tab-list">
    <p>Here place products on shelf</p>
    <p>Select "category", by store, datatime?</p>
  </div>
  <div id="tab-import">
    <p>Import product data here:</p>

    <p> Step 1: upload files (in xls,xlsx,csv)

    <p> Finish, to return to products#index? </p>

  </div>
  <div id="tab-edit">
    <p>edit product data here, include brand/manufecturer/supplier, etc.</p>
  </div>
</div>

</div>

