<div id="products-container">
  <div>
    <table class="fixtures">
      <thead>
        <tr>
          <th width="25%"></th><th width="25%"></th><th width="25%"></th><th width="25%"></th>
        </tr>
      <tbody >
        <tr id="space1" class="bay-space"><td>1</td><td></td><td></td><td></td></tr>
        <tr id="shelf1" class="bay-shelf"><td></td><td></td><td></td><td></td></tr>
        <tr id="space2" class="bay-space"><td>2</td><td></td><td></td><td></td></tr>
        <tr id="shelf2" class="bay-shelf"><td></td><td></td><td></td><td></td></tr>
        <tr id="space3" class="bay-space"><td>3</td><td></td><td></td><td></td></tr>
        <tr id="shelf3" class="bay-shelf"><td></td><td></td><td></td><td></td></tr>
        <tr id="space4" class="bay-space"><td>4</td><td></td><td></td><td></td></tr>
        <tr id="shelf4" class="bay-shelf"><td></td><td></td><td></td><td></td></tr>
        <tr id="base" class="bay-base"><td></td><td></td><td></td><td></td></tr>
      </tbody>
    </table>
  </div>
  <div class="ui-helper-clearfix"></div>
</div>

<div>
  <ul id="layer1" data-container="#space-4-7" class="sortable-editor1">
    <li class="ui-state-default">Item a1</li>
    <li class="ui-state-default">Item a2</li>
    <li class="ui-state-default">Item a3</li>
    <li class="ui-state-default">Item a4</li>
    <li class="ui-state-default">Item a5</li>
  </ul>
  <ul id="layer2" data-container="#space-4-16" class="sortable-editor1">
    <li class="ui-state-highlight">Item b1</li>
    <li class="ui-state-highlight">Item b2</li>
    <li class="ui-state-highlight">Item b3</li>
    <li class="ui-state-highlight">Item b4</li>
    <li class="ui-state-highlight">Item b5</li>
    <li id="test" title="product 111" data-id="p111" class="product-item">
      text must be replaced!
    </li>
  </ul>
</div>
