<div id="test_toolbar" class="ui-widget-header ui-corner-all">

<button id="add-open-shelf" class="toolbar-button" data-icon="ui-add-open-shelf">Add OpenShelf</button>

<input type="checkbox" id="switcher" class="toolbar-button" /><label for="switcher">Toggle</label>

<span id="format" class="toolbar-button-set">
  <input type="checkbox" id="bold" class="toolbar-button" /><label for="bold">B</label>
  <input type="checkbox" id="italic" class="toolbar-button" /><label for="italic">I</label>
  <input type="checkbox" id="underline" class="toolbar-button" /><label for="underline">U</label>
</span>

<span id="format" class="toolbar-button-set">
  <button id="rerun" class="toolbar-button" >Run last action</button>
  <button id="select" >Select an action</button>
</span>

<span id="repeat" class="toolbar-button-set">
  <input type="radio" id="repeat0"  class="toolbar-button" name="repeat" checked="checked" /><label for="repeat0">No Repeat</label>
  <input type="radio" id="repeat1"  class="toolbar-button" name="repeat" /><label for="repeat1">Once</label>
  <input type="radio" id="repeatall"  class="toolbar-button" name="repeat" /><label for="repeatall">All</label>
</span>
</div>

<ul id="menu">
<li><a href="#">Open...</a></li>
<li><a href="#">Save</a></li>
<li><a href="#">Delete</a></li>
</ul>
